doctype html 
html 
    head 
        title #{title}
        link(rel="stylesheet", href="/admin/css/reset.css")
        link(rel="stylesheet", href="/admin/css/base.css")
        link(rel="stylesheet", href="/admin/css/style.css")
    body 
        block main 

    script(src="/admin/js/alert.js")