.container {
    max-width: 1300px;
    width: 100%;
    /* background-color: var(--background-primary); */
    margin-left: auto;
    margin-right: auto;
}

.clr-m {
    margin-bottom: 0;
}

/* display */
.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ptb-1px {
    padding-top: 1px;
    padding-bottom: 1px;
}

.d-flex {
    display: flex;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.col-2 {
    width: calc(100% / 2 - 100px);
}

.col-3 {
    width: calc(100% / 3 - 100px);
}

.col-4 {
    width: calc(100% / 4 - 20px);
}

.col-5 {
    width: calc(100% / 5 - 5px);  
}

.col-5mix {
    width: calc(100% / 5 - 50px);  
}

.col-12 {
    width: calc(100% / 12 - 50px);
}

.col-70percent {
    width: calc(100% - 30% - 20px);
}

.col-30percent {
    width: calc(100% - 70% - 20px);
}

.width-75percent {
    width: 75%;
}

.width-50percent {
    display: inline-block;
    width: 50%;
}

.width-55ercent {
    width: 61%;
}
/* end display */

/* text */
.text-align-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-style: bold;
}
/* end text */

/* card */
.card {
    border: 1px solid #F5F5F5;
    max-width: 1250px;
    /* margin: 10px; */
}

.card-header {
    padding: 10px;
    background-color: #F5F5F5;
}

.card-body {
    padding: 20px;
}

.card-header .title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.card-header .quantity {
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
}

/* end card */


/* ul li */
.reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* end ul li */

/* hr */
.divider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.divider-style-gray {
    color: #ddd;
}
/* end hr */

/* width */
.item-divided-1 {
    flex: 1; /* Chia đều không gian cho các phần tử */
}

.item-divided-2 {
    flex: 2; /* Chia đều không gian cho các phần tử */
}

.item-divided-3 {
    flex: 3; /* Chia đều không gian cho các phần tử */
}

.item-divided-4 {
    flex: 4; /* Chia đều không gian cho các phần tử */
}
/* end width */


/* border */
.clear-border {
    border: 0px;
}

.border-top {
    border-top: 2px solid #228B22;
    margin-bottom: 5px;
}

.border-line {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* end border */