/* font ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --background-primary : #1A1F25;
    --background-secondary: #4AD295;
    --background-third: #8CC84B;

    --font-primary: "Roboto", sans-serif;
}

body {
    font-family: var(--font-primary);
}



/* header */
.header {
    background-color: var(--background-primary);
    padding: 8px;
    border-bottom: 2px solid #8CC84B;
}

.header-slogan {
    text-align: center;
    margin-bottom: 5px;
}

.header-slogan span {
    font-size: 14px;
    color: white;
}

.header .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 50px;
    margin-right: 10px;
}

.header .inner-logo span {
    font-size: 24px;
    font-weight: 650;
    color: white;
}

.header .inner-logo span:hover {
    background-image: linear-gradient(
        to right, 
        var(--background-third) 0%, 
        #8CC84B 100%
    );
    background-clip: text;
    color: transparent;
    transition: all 1s ease-in-out;
}

.header .navigation a {
    /* text in 'a' */
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* end text in 'a' */
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 17px;
}

.header .inner-user li {
    padding-left: 10px;
    padding-right: 10px;
}

.header .inner-user a {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 16px;
    /* set text */
    font-size: 16px;
    font-weight: 500;
}

.header .inner-user a:hover {
    border: 1px solid var(--background-third);
    transition: all 0.7s ease-in-out;
}
/* end header */

/* navigation 'ul' */
.navigation {
    /* reset ul */
    padding: 0;
    margin: 0;
    list-style: none;
    /* end reset ul */
    display: flex;
    align-items: center;
}

.navigation li {
    padding-left: 20px;
    padding-right: 20px;
}

.navigation li:hover > a svg {
    transform: rotate(90deg);
    transition: all 0.7s ease;
    stroke: var(--background-third);
}

.navigation a:hover {
    background-image: linear-gradient(
        to left top, 
        var(--background-third) 0%, 
        #8CC84B 100%
    );
    background-clip: text;
    color: transparent;
    transition: all 1.2s ease;
}
/* end navigation 'ul' */

/* product */

.transform-scale:hover {
    transform: scale(1.1);
}

.product__item {
    width: 160px;
    height: 290px;
    /* margin: 30px; */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
}

.product__item img {
    height: 200px;
    width:auto;
    margin-top: 5px;
}

.product__item .item-name {
    font-size: 16px;
    font-weight: 700;   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
    margin-right: 20px;
}
.product__item .item-name a {
    color: black;
}

.product__item .item--price {
    display: flex;
    justify-content: space-around;
}

.product__item .item--price .price-new {
    font-size: 18px;
    font-weight: 650;
    color: #228B22;
}

.product__item .item--price .price-old {
    font-size: 16px;
    color: #777777;
    text-decoration: line-through;
}

/* end product */

/* pagination */
.pagination {
    /* reset ul */
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    /* end reset ul */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    color: #616161;
    text-decoration: none;
    padding: 6px 8px;
}

.pagination li a svg {
    width: 12px;
    height: 12px;
    fill: #616161;
}
.pagination--active {
    background-color: #2ECC71;
}

.pagination--active a {
    color: white;
}

.pagination li:hover {
    background-color: #2ECC71;

}

.pagination li:hover a {
    background-color: transparent;
    color: white;
}

.pagination li:hover svg{
    fill: white;
}
/* end pagination */

/* menu */
.menu {
    position: relative;
}

.menu ul {
    position: absolute;
    top: 100%;
    background-color: #1A1F25;
    display: none;
    max-width: 300px;
    width: 100%;
}

.menu ul li {
    border-bottom: 1px solid #ddd;
    padding: 4px 8px;
}

.menu:hover > ul {
    display: block;
}

.menu ul li {
    position: relative;
}

.menu ul li svg {
    transform: rotate(90deg);
}

.menu ul li:hover svg {
    transform: rotate(0deg);
}

.menu ul li ul {
    position: absolute;
    left: 100%;
    top: 0px;
    display: none;
    max-width: 300px;
    width: 100%;

}

.menu ul li ul li {
    padding: 6px 8px;
}

.menu ul li:hover > ul {
    display: block;
}

/* end menu */

/* feature */
.feature-product {
    margin: 10px;
}

.feature-header {
    color: #228B22;
    font-size: 24px;
    font-weight: 750;
    margin-bottom: 20px;
}
/* end feature */

/* detail product */
.product__detail {
    margin: 20px;
}

.product__detail--img{
    width: 300px;
    height: 460px;
}

.product__detail--title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.product__detail--author {
    margin-bottom: 20px;
}

.product__detail--author span:nth-child(2) {
    font-weight: 700;
}

.product__detail--price {
    margin-bottom: 20px;
}

.product__detail--price .new-price {
    font-size: 30px;
    font-weight: 600;
    color: #459D45;
}

.product__detail--price .old-price {
    color: #777777;
    font-size: 20px;
    text-decoration: line-through;
}

.product__detail--price .discount {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 2px;
    border-radius: 8px;
    background-color: #EB5757;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.product__detail--quantity {
    padding: 3px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product__detail--quantity input {
    background-color: white;
    text-align: center;
    font-size: 18px;
    border: 0;
    outline: none;
}

.product__detail--quantity button {
    background-color: white;
    font-size: 20px;
    border: 0;
}

.product__detail--quantity button:hover {
    color: #228B22;
}

.product__detail--stock span {
    color: #777777;
    font-size: 18px;
}

.product__detail--desc {
    font-size: 20px;
    font-weight: 650;
    color: #228B22;
}

.product__detail--content {

}

.product_detail-infor {
    font-size: 20px;
    font-weight: 650;
    color: #228B22; 
}

.product-center {
    display: flex;
    justify-content: center;
}

.book__infor--detail {
    margin: 0;
    padding: 0;
    list-style: none;
    /* margin: 20px; */
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.book__infor--detail li {
    padding: 10px 0px;
}

.book__infor--detail li .infor {
    font-size: 16px;
    font-weight: 650;
}
/* end detail product */

.btn {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.btn-normal {
    display: inline-block;
    font-size: 16px;
}

.btn-large {
    width: 300px;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 5px;
}

.btn-bg-white {
    background-color: white;
    color: #228B22;
    border: 1px solid #228B22;
}

.btn-bg-white:hover {
    background-color: #228B22;
    color: #fff;
}

.btn-bg-green {
    background-color: #228B22;
    color: #fff;
    border: 1px solid #228B22;
}

.btn-bg-green:hover {
    border: 1px solid #228B22;
    background-color: #fff;
    color: #228B22;
}

.btn-white-gray {
    border: 0;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: white;
}

.btn-white-gray:hover {
    background-color: #7B7B7D;
    color: white;
}

.btn-active-gray {
    background-color: #7B7B7D;
    color: white;
}
/* form-submit */
.form-submit {
    margin: 20px;
}
/* end form-submit */

/* frame */
.frame {
    border: 1px solid #ddd;
    width: 520px;
    height: 560px;
}
/* end frame */

/* banner */
.banner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
}
/* end banner */

/* input */
.input-search {
    background-color: #1A1F25;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
    outline: 0;
    color: white;
    /* remove autocomplete of chrome */
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    /* end remove autocomplete of chrome */
}
/* end input */

.button-search {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 0px 5px 5px 0px;
}

/* alert */
.alert{
    position: relative;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}
.show-alert {
    position: fixed;
    right: 6px;
    top: 55px;
    z-index: 999;
}

.close-alert {
    text-align: center;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: #3E333B;
    border: 1px solid #3E333B;
    border-radius: 50%;
    color: white;
}

.close-alert:hover {
    background-color: red;
    border: red;
    color: white;
}

.alert-success {
    color: #447A41;
    border: #B1E8C0;
    background-color: #DAFBE1;
}

.alert-error {
    color: #AB4441;
    border: #ECCED2;
    background-color: #F2DEDE;
}

.alert-warning {
    color: #8A6C3B;
    border: #FAEBCC;
    background-color: #FCF8E3;
}

.alert-notice {
    color: #5C7B96;
    border: #BCE8F1;
    background-color: #D9EDF7;
}

.alert--hide {
    top: -62px;
    right: -76px;
    transition: all 1s ease;
}
/* end alert */

/* cart header */
.mini-cart {

}

.mini-cart a {
    position: relative;
}

.mini-cart span {
    position: absolute;
    background-color: #228B22;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-size: 15px;
    top: -22px;
    right: -9px;
}

.mini-cart svg {
    stroke: white;
    width: 35px;
    height: 35px;
}
/* end cart header */

/*  */
.title {
    color: #228B22;
    font-size: 24px;
    font-weight: 750;
    margin-bottom: 20px;
}
/* end */

/* table cart */
.table-cart {
    width: 100%;
    /* height: 100%; */
    border-collapse: collapse;
    border: 1px solid #ebebeb;
}

.table-cart th {
    text-align: left;
    padding: 8px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
}

.table-cart td{
    padding: 8px 10px;
    /* border-bottom: 1px solid #ebebeb; */
}

.table-cart tr {
    border-bottom: 1px solid #ebebeb;
}

.table-cart td img {
    width: auto;
    height: 120px;
}

.product-cart-title {
    color: black;
    margin-bottom: 20px;
}

.product-cart-title:hover {
    color: #218721;
}

.product-cart-delete {
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: red;
}

.product-cart-delete:hover {
    color: #218721;
}

.product-cart-price {
    color: #218721;
    font-weight: 650;
}

.table-pay {
    padding: 5px;
    border: 1px solid #ebebeb;
    border-top: 0;
    display: flex;
    justify-content: right;
}

.table-not-pay {
    padding: 5px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end table cart */

/* form & input form */
.input-form {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: .94em .8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
    /* margin-bottom: 10px; */
}

.input-form:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 1px #66afe9;
}

.input-form-transport {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: .94em .8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    outline:none
}

.textArea-form {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: .94em .8em;
    border: 1px #d9d9d9 solid;
    /* height: 44px; */
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
}

.textArea-form:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 1px #66afe9;
}

.input-form-btn {
    border-radius: 4px;
    width: 75%;
    display: block;
    box-sizing: border-box;
    padding: .94em .8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
    /* outline: 0;
    border-color: #bee5eb;
    border: 1px #d9d9d9 solid; */
    /* margin-bottom: 10px; */
}

.input-form-btn:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 1px #66afe9;
}

.btn-form {
    cursor: pointer;
    background-color: #357ebd;
    border-color: #2f71a9;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    /* padding: .98em 1.7em; */
    text-align: center;
    position: relative;
    height: 44px;
}
/* end form & input form */

/* product checkout */
.checkout-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.product-checkout-background {
    /* border-left: 1px solid #ddd;
    background-color: #969696; */
}
.product-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-checkout-img {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 15px;
}

.product-checkout-img img {
    width: 50px;
    height: auto;
}

.product-checkout-img span {
    top: -9px;
    right: -11px;
    text-align: center;
    position: absolute;
    background-color: #2A9DCC;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product-checkout-title{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.product-checkout-title .title {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.product-checkout-title .discount{
    font-size: 11px;
    color: #969696;
}

.product-checkout-price {
    margin-left: 15px;
}

.product-checkout-price .price {
    font-size: 14px;
    color: #969696;
}

/* end product checkout */

/* label */

.hide-label {
    display: none;
}
/* end label */

/* input radio */
.input-radio {
    width: 20px;
    height: 20px;
    border: #969696;
    color: #969696;
}
/* end input radio */

/* table order success */
.table-order-success {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border: 3px solid #E1E1E5;
    display: flex;
    flex-direction: column;
}
/* end table order success */

/* user login signup */
.user-login-singup {
    position: relative;
}

.user-login-singup:hover .user-header {
    display: flex;
}

.user-login-singup .user-header a:hover{
    color: #228B22;
}

.user-login-singup .icon {
    width: 24px;
    height: 24px;
    margin: 5px;
    stroke: white;
}

.user-login-singup .user-header {
    display: flex;
    flex-direction: column;
    background: #1A1F25;
    top: 38px;
    left: -70px;
    position: absolute;
    width: 100px;
    /* /* display: none; */
    display: none;
}

.user-login-singup .user-header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.page-content-signup-signin {
    margin-top: 50px;
}

.form-signup {
    border: 1px solid #228b22;
    height: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.label-login-signup {
    font-size: 16px;
    font-weight: 650;
    margin-bottom: 5px;
}

.btn-signup {
    display: block;
    width: 100%;
    background-color: #228b22;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    border: 0;
}

.btn-signup:hover {
    color: #228B22;
    background-color: white;
    border: 1px solid #228B22;
}

.btn-signin {
    background-color: #228B22;
    color: white;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 4px;
}

.btn-signin:hover {
    border: 1px solid #228B22;
}

.benifit-user {
    background-color: #228b22;
    border: 2px solid #228B22;
    color: white;
    height: 100%;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.benifit-user h3 {
    text-align: center;
}

.benifit-user .navigation li {
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    width: 100%;
    font-weight: 600;
}

/* enduser login signup */