extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/product-layouts.pug    
block main 
    div(class="container")
        include ../../partials/list-btn-user.pug
        div(class="feature-product") 
            div(class="feature-header") Sách nổi bật
            div(class="feature-body")
                div(class="d-flex flex-wrap align-item-center justify-content-center")
                    if(recordsFeartured)
                        +layout-grid(recordsFeartured, 'col-5mix')

        div(class="border-top")

        div(class="feature-product") 
            div(class="feature-header") Sách mới
            div(class="feature-body")
                div(class="d-flex flex-wrap align-item-center justify-content-center")
                    if(recordsNew)
                        +layout-grid(recordsNew, 'col-5mix')