mixin pagination(pagination)
    ul(class="pagination container" )
        if(pagination.current > 1)
            li
                a(href="#" button-pagination = pagination.current-1)
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 512')
                        path(d='M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z')
        
        if(pagination.total >= 10)
            if(pagination.current - 5 >= 1)
                li 
                    a(href="#" button-pagination =1) 1
                li 
                    a() ... 

        if(pagination.total >= 5)
            -   var start = 0
            -   var stop = 0
            if(pagination.current <= 2)
                -   start = 1
                -   stop = 5
            
            else if(pagination.current == pagination.total)
                -   stop = pagination.current 
                -   start = stop - 4
                
            else if(pagination.current + 2 <= pagination.total)           
                -   start = pagination.current - 2
                -   stop  = pagination.current + 2
            
            else 
                -   stop = pagination.current + 1
                -   start = pagination.current - 3
            
        else 
            -   start = 1
            -   stop = pagination.total 

        -   for(var page = start ; page <= stop ; page++)
                -   var active = (page == pagination.current ? "pagination--active" : "")
                li(class=active)
                    a(href="#" button-pagination = page) #{page}
        
        if(pagination.total >= 10)
            if(pagination.current + 5 <= pagination.total)
                li 
                    a() ... 
                li 
                    a(href="#" button-pagination = pagination.total) #{pagination.total}

        if(pagination.current < pagination.total)
            li 
                a(href="#" button-pagination = pagination.current+1)
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 512')
                        path(d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z')