doctype html 
html 
    head 
        title #{title}
        link(rel="stylesheet", href="/client/css/reset.css")
        link(rel="stylesheet", href="/client/css/base.css")
        link(rel="stylesheet", href="/client/css/style.css")

    body 
       include ../partials/header.pug
       block main
                        
        script(src= "/tinymce/tinymce.min.js")
        script(src="/client/js/tinymce-config.js")
        script(src="/client/js/script.js")
        script(src="/client/js/sider.js")
        script(src="/client/js/alert.js")